PORT=3000
CORS_ORIGINS=http://localhost:5173,http://localhost:8080
GOOGLE_BOOKS_KEY=
GOOGLE_BOOKS_API_URL=https://www.googleapis.com/books/v1/volumes
DATABASE_URL=postgresql://postgres:YOUR-PASSWORD@db.YOUR-PROJECT-REF.supabase.co:5432/postgres
DATABASE_POOL_MAX=10
JWT_SECRET=
ALLOWED_EMAIL_DOMAINS=gmail.com,jala.edu
NODE_ENV=development
